body{
	margin: 0px;
	padding: 0px;


}

.header{
	background : linear-gradient(-200deg, #0D0F1C, #06283D 65%, #3330E4); 
	height: 80px;
	margin: 10px;
}

nav ul li{
	list-style-type: none;
	display:  inline-block;
	padding: 10px;

}

ul li a{
	color: whitesmoke ;
	letter-spacing: 0.1rem;

}

ul li a:hover{
	color: #3330E4;

}

.menu li{
	float: left;
	padding: 35px;


}

.menu li, a{
	text-decoration: none;

}

form{
	padding: 35px;
	text-align: right;


}

input[type="search"]{
	font-size: 17px;
}

